@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro|Montserrat|Lora&display=swap');

/* global style */
body {
	background-color: #181719;
	color: #FFFFFF;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 5px 40px;
	cursor: pointer;
}

.active {
	font-weight: bold;
}

.rect {
	font-family: 'Crimson Pro', serif;
	font-style: normal;
	font-weight: 200;
	line-height: 16px;
	text-transform: uppercase;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	width: 103px;
	height: 31px;
	font-size: 14px;
}

.rect p{
	text-align: center;
	margin-top: 7px;
	margin-bottom: 15px;
}

.nav-lists, .description p, .profile_details, footer p {
	font-family: Montserrat;
	font-style: normal;
}

.nav-lists{
	font-size: 16px;
	line-height: 27px;
}

.description h1, .profile_info {
	font-family: Lora;
	font-style: normal;
}

.container {
	height: 60px;
	background-color: #181719;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}

.container .logo {
	overflow: hidden;
}

.container .navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 10px;
}

.container .navbar ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.container .navbar ul li a:hover {
	color: #ffffff;
	background-color: rgba(23, 23, 23, 0.9);
}

.container .navbar ul .close {
	display: none;
	text-align: right;
	padding: 10px;
}

.container .navbar ul .close span {
	font-size: 40px;
	display: inline-block;
	border: 1px solid #cccccc;
	padding: 0 10px;
	cursor: pointer;
}

.container .navbar .icon-bar {
	padding: 18px 8px;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	cursor: pointer;
}

.navbar_hamburger {
	color: #FFFFFF;
}

.story{
	font-weight: 300;
	margin-top: 20px;
}

.story_link{
	font-weight: 600;
	margin-top: 20px;
}

.profile{
	background: #181719;
}

.profile_user{
	display: flex;
	background: #181719;
}

.profile_pic img{
	border-radius: 50%;
}

footer {
	text-align: center;
	font-weight: 600;
	line-height: 17px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.rect {
		font-size: 8px;
		width: 103px;
		height: 31px;
		font-size: 13px;
	}
	
	.container {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	
	.container .navbar {
		-webkit-box-flex: 0;
		-ms-flex: 0;
		flex: 0;
	}

	.container .navbar ul {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		position: fixed;
		left: 100%;
		text-align: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		background: #181719;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: left .3s;
		-o-transition: left .3s;
		transition: left .3s;
	}
	
	.nav-items{
		margin-top: 30px;
	}
	
	.nav-items1{
		margin-top: 130px;
	}

	.container .navbar ul li a {
		font-size: 16px;
		line-height: 22px;
	}

	.container .navbar ul .close {
		display: block;
	}

	.container .navbar .icon-bar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.container .navbar ._Menus-show {
		left: 0;
		z-index: 9;
	}

	.description{
		width: 270px;
	}

	.description h1{
		font-size: 30px;
		line-height: 46px;
		margin-left: 12px;
		margin-top: 40px;
	}

	.story{
		font-size: 14px;
		line-height: 17px;
		margin-left: 12px;
		margin-right: 90px;
	}

	.story_link{
		font-size: 10px;
		line-height: 22px;
		margin-left: 12px;
	}

	.story_link img{
		width: 12px;
		height: 12px;
	}

	.content_samp{
		width: 320px;
		height: 280px;
	}

	.interior_samp{
		margin-right: 12px;
		margin-top: 40px;
		margin-left: 0;
		z-index: 1;
	}

	.interior_samp img{
		width: 310px;
		height: 200px;
	}

	.profile{
		width: 250px;
		height: 50px;
		z-index: 1;
		margin-left: 52px;
		margin-top: -50px;
		opacity: 1;
		position: relative;
	}

	.profile_pic img{
		width: 52px;
		height: 50px;
		margin-top: 10px;
		margin-left: 15px;		
	}

	.profile_details h2{
		font-size: 10px;
		font-weight: 500;
		line-height: 15px;
		margin-top: 11px;
		margin-left: 15px;
	}

	.profile_details p{
		font-size: 9px;
		font-weight: 500;
		line-height: 15px;
		margin-top: 8px;
		margin-left: 15px;
	}

	.profile_info p{
		font-size: 18px;
		font-weight: bold;
		line-height: 23px;
		margin-top: 10px;
		margin-left: 15px;
		width: 170px;
	}

	footer {
		font-size: 11px;
		margin-top: 100px;
	}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
	a {
		padding: 5px 20px;
	}

	.container .logo {
		margin-left: 20px;
	}

	.container .navbar {
		margin-left: 90px;
	}
	.description{
		width: 370px;
		margin-left: 20px;
	}

	.description h1{
		font-size: 30px;
		line-height: 46px;
		margin-top: 40px;
	}

	.story{
		font-size: 14px;
		line-height: 17px;
		margin-right: 90px;
	}

	.story_link{
		font-size: 10px;
		line-height: 22px;
	}

	.story_link img{
		width: 12px;
		height: 12px;
	}

	.content_samp{
		width: 490px;
		height: 450px;
	}

	.interior_samp{
		margin-top: 40px;
		margin-left: 20px;
		z-index: 1;
	}

	.interior_samp img{
		width: 480px;
		height: 370px;
	}

	.profile{
		width: 290px;
		height: 50px;
		margin-left: 200px;
		margin-top: -60px;
		position: relative;
	}

	.profile_pic img{
		width: 52px;
		height: 50px;
		margin-top: 10px;
		margin-left: 15px;		
	}

	.profile_details h2{
		font-size: 10px;
		font-weight: 500;
		line-height: 15px;
		margin-top: 11px;
		margin-left: 15px;
	}

	.profile_details p{
		font-size: 9px;
		font-weight: 500;
		line-height: 15px;
		margin-top: 8px;
		margin-left: 15px;
	}

	.profile_info p{
		font-size: 18px;
		font-weight: bold;
		line-height: 23px;
		margin-top: 10px;
		margin-left: 15px;
		width: 170px;
	}

	footer {
		font-size: 11px;
		margin-top: 100px;
	}
} 

/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px) {
	a {
		padding: 5px 40px;
	}

	.container .logo {
		margin-left: 57px;
	}

	.container .navbar {
		margin-left: 600px;
	}

	.contents{
		display: flex;
	}

	.description{
		width: 740px;
		margin-left: 57px;
	}

	.description h1{
		font-size: 40px;
		line-height: 61px;
		margin-top: 80px;
	}

	.story{
		font-size: 18px;
		line-height: 29px;
		margin-right: 310px;
	}

	.story_link{
		font-size: 12px;
		line-height: 22px;
	}

	.content_samp{
		width: 680px;
		height: 560px;
		margin-right: 57px;
	}

	.interior_samp{
		margin-top: 80px;
		margin-left: 0;
		position: absolute;
		opacity: 1;
	}

	.interior_samp img{
		width: 600px;
		height: 500px;
	}

	.profile{
		width: 350px;
		height: 80px;
		z-index: 9;
		margin-left: 220px;
		margin-right: 57px;
		margin-top: 495px;
	}

	.profile_pic img{
		width: 72px;
		height: 70px;
		margin-top: 15px;
		margin-left: 20px;		
	}

	.profile_details h2{
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		margin-top: 20px;
		margin-left: 20px;
	}

	.profile_details p{
		font-size: 12px;
		font-weight: 500;
		line-height: 15px;
		margin-top: 15px;
		margin-left: 20px;
	}

	.profile_info p{
		font-size: 24px;
		font-weight: bold;
		line-height: 31px;
		margin-top: 10px;
		margin-left: 20px;
		width: 230px;
	}

	footer {
		font-size: 13px;
		margin-top: 180px;
	}
} 
